[Desktop Entry]
Version=1.0
Name=Opera developer
GenericName=Web browser
Comment=Fast and secure web browser
TryExec=opera-developer
Exec=opera-developer --password-store=basic %U
Terminal=false
Icon=opera-developer
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;application/x-opera-download;
Actions=NewWindow;NewPrivateWindow;

[Desktop Action NewWindow]
Name=New Window
Exec=opera-developer --password-store=basic --new-window
TargetEnvironment=Unity

[Desktop Action NewPrivateWindow]
Name=New Private Window
Exec=opera-developer --password-store=basic --private
TargetEnvironment=Unity
